.card {
  display: flex;
  gap: 20px; /* Allow items to wrap if container overflows */
  flex-wrap: wrap;
}

.imageContainer {
  flex: 2;
  height: 200px;
  
}

.imageContainer img {
  width: 600px;
  height: 220px;
  object-fit: cover;
  border-radius: 10px;
}

.textContainer {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  margin-top: 12px;
}

.textContainer img {  /* Assuming this image is for a specific purpose within textContainer */
  width: 10px;
  height: 10px;
}

.title {
  font-size: 20px;
  font-weight: 600;
  color: #444;
  text-overflow: ellipsis;
  transition: all 0.4s ease;
}

.title:hover {  /* Separate hover styles for clarity */
  color: #000;
  transform: scale(1.01);
}

.address {
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 5px;
  color: #888;
}

.price {
  font-size: 20px;
  font-weight: 300;
  padding: 5px;
  border-radius: 5px;
  width: max-content;
  background-color: aqua;
}

.bottom {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.features {
  display: flex;
  gap: 20px;
  font-size: 14px;
}

.feature {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: whitesmoke;
  padding: 5px;
  border-radius: 5px;
}

.icons {
  display: flex;
  gap: 20px;
}

.icon {
  border: 1px solid #999;
  padding: 2px 5px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon:hover {
  background-color: lightgray;
}
